@model IEnumerable<ExpenseTracker.Models.Expense>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

    <p>
    @Html.ActionLink("Create New", "Create")
    </p>

    @using (Html.BeginForm())
    {                                              // search view
    <p>
        Find by Category: @Html.TextBox("SearchString") <br />
        <input type="submit" value="Search" />
    </p>
    }
    </p>

    <table class="table">                                                      
        <tr>
            <th>
                @Html.ActionLink("Amount", "Index", new { sortOrder = ViewBag.AmountSortParm })
            </th>
            <th>
                Category
            </th>
            <th>
                @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm })
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
